.footer {
    background: #01020E;
    color: #fff;
    padding: 50px 60px 20px;
    border-top: 1px solid #222334;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 40px;
}

.footer-col h2,
.footer-col h3 {
    margin-bottom: 18px;
}

.footer-col h2 {
    font-size: 26px;
}

.footer-col h3 {
    font-size: 17px;
    font-weight: 600;
}

.footer-col p {
    color: #c9c9d6;
    line-height: 1.5;
    font-size: 14px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin: 10px 0;
}

.footer-col ul li a {
    color: #c9c9d6;
    font-size: 14px;
    text-decoration: none;
    transition: .3s;
}

.footer-col ul li a:hover {
    color: #6c63ff;
}

.footer-socials {
    margin-top: 18px;
    display: flex;
    gap: 12px;
}

.footer-socials a {
    width: 42px;
    height: 42px;
    border: 2px solid #6c6c85;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.footer-socials a:hover {
    background: #6c63ff;
    border-color: #6c63ff;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #1d1d33;
    font-size: 14px;
    color: #c9c9d6;
}

.footer-bottom a {
    color: #6c63ff;
    text-decoration: none;
}
