.tmt-card{
    max-width: 450px;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #28293D;
    background-color: #131428;
    border-radius: 20px;
}

.tmt-profile{
    display: flex;
    gap: 15px;
}

.profile-img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.profile-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-name{
    font-size: 16px;
    font-weight: 600;
}

.profile-profess{
    color: #BBBACC;
    font-size: 14px;
}

.profile-rate{
    color: #FBBF24;
    font-size: 16px;
}

.tmt-desc{
    font-weight: bold;
    font-size: 16px;
    color: #BBBACC;
}

.tmt-ctn{
    border-top: 1px solid #242439;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    padding-top: 20px;
}

.ctn-title{
    background-color: #191A39;
    padding: 10px;
    font-weight: 600;
    font-size: 14px;
    color: #524DD3;
    width: 80px;
    border-radius: 8px;
}

.ctn-ver{
    color: #10B981;
    font-weight: 500;
}