.lead-card {
    max-width: 450px;
    width: 100%;
    background: #0c0c28;
    border-radius: 18px;
    overflow: hidden;
    text-align: center;
    color: white;
    border: 1px solid #28293D;
}

.lead-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 0 35px rgba(0,0,0,0.6);
    transition: .3s;
    border: 1px solid #6c63ff;
}

.lead-main-img{
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.lead-name {
    font-size: 20px;
    font-weight: 600;
}

.lead-prof {
    color: #6c63ff;
    font-size: 14px;
}

.lead-desc {
    color: #bfc0d4;
    font-size: 13px;
}

.lead-social {
    display: flex;
    justify-content: center;
    gap: 14px;
}

.lead-img{
    background: #1c1c3d;
    padding: 10px;
    border-radius: 10px;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.lead-img:hover {
    background: #6c63ff;
}

.img-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}
