*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

.container{
  max-width: 1400px;
  padding: 10px 20px;
  margin: 0 auto;
}

body{
  background-color: #05071D;
}
